{
    "presets": [
        [
            "@babel/preset-react"
        ],
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": {
                    "firefox": "64"
                }
            }
        ]
    ],
    "plugins": [
        "transform-require-default",
        "@babel/plugin-proposal-class-properties"
    ]
}